<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import FontAwesome-->
		<script src="https://use.fontawesome.com/db2cce7fe1.js"></script>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
		<!--App style -->
		<link type="text/css" rel="stylesheet" href="css/style.css" />

		<meta charset="utf-8" />
		<meta name="theme-color" content="#f57c00">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>		
	</head>
	<body>
		<nav class="nav-extended orange darken-2">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">The Space Cinema</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="about.html">About</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="about.html">About</a></li>
				</ul>

				<ul class="tabs tabs-transparent tabs-fixed-width">
					<li id="day-1" class="tab"><a class="active" href="#container-1">Oggi</a></li>
					<li id="day-2" class="tab"><a href="#container-2">Domani</a></li>
					<li id="day-3" class="tab"><a href="#container-3">Lunedì</a></li>
					<li id="day-4" class="tab"><a href="#container-4">Martedì</a></li>
				</ul>
			</div>
		</nav>
		<main id="app">
			<div v-if="!loaded" class="section center-align">
				<div class="preloader-wrapper big active">
					<div class="spinner-layer spinner-red-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
					</div>
				</div>
			</div>

			<div id="container-1">
				<div class="row">
					<movie-card v-for="movie in programmazione[0]" v-bind:movie="movies[movie]" v-bind:day="0" v-bind:is-desktop="true"></movie-card>
					<movie-card v-for="movie in programmazione[0]" v-bind:movie="movies[movie]" v-bind:day="0" v-bind:is-desktop="false"></movie-card>
				</div>
			</div>

			<div id="container-2">
				<div class="row">
					<movie-card v-for="movie in programmazione[1]" v-bind:movie="movies[movie]" v-bind:day="1" v-bind:is-desktop="true"></movie-card>
					<movie-card v-for="movie in programmazione[1]" v-bind:movie="movies[movie]" v-bind:day="1" v-bind:is-desktop="false"></movie-card>
				</div>
			</div>

			<div id="container-3">
				<div class="row">
					<movie-card v-for="movie in programmazione[2]" v-bind:movie="movies[movie]" v-bind:day="2" v-bind:is-desktop="true"></movie-card>
					<movie-card v-for="movie in programmazione[2]" v-bind:movie="movies[movie]" v-bind:day="2" v-bind:is-desktop="false"></movie-card>
				</div>
			</div>

			<div id="container-4">
				<div class="row">
					<movie-card v-for="movie in programmazione[3]" v-bind:movie="movies[movie]" v-bind:day="3" v-bind:is-desktop="true"></movie-card>
					<movie-card v-for="movie in programmazione[3]" v-bind:movie="movies[movie]" v-bind:day="3" v-bind:is-desktop="false"></movie-card>
				</div>
			</div>

			<div class="fixed-action-btn click-to-toggle">
				<a class="btn-floating btn-large orange darken-2" @click="handleFAB">
					<i class="material-icons">{{FABIcon}}</i>
				</a>
				<ul>
					<li><a class="btn-floating green waves-effect waves-light" @click="changeSort"><i class="fa" v-bind:class="sortIcon" aria-hidden="true"></i></a></li>
					<li><a class="btn-floating blue waves-effect waves-light" @click="changeListMode"><i class="material-icons">{{viewIcon}}</i></a></li>
				</ul>
			</div>
		</main>

		<footer class="page-footer orange darken-2">
			<div class="footer-copyright">
				<div class="container">
					Made by <a class="amber-text text-lighten-4" href="mailto:luca.regazzi@gmail.com">Luca Regazzi</a>
				</div>
			</div>
		</footer>

		<!--JQuery-->
		<script type="text/javascript" src="js/jquery.js"></script>
		<!--Materialize-->
		<script type="text/javascript" src="js/materialize.js"></script>
		<!--VueJS-->
		<script type="text/javascript" src="js/vue.js"></script>
		<!--App JS-->
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>